//noinspection LessUnresolvedVariable
& when (@media-common = true) {
    .form-inline {
        .admin__fieldset {
            .admin__field.read-only {
                .admin__field-control {
                    input {
                        border-color: transparent;
                        padding-right: inherit;
                    }

                    input + button {
                        display: none;
                    }

                    textarea {
                        border-color: transparent;
                    }

                    select {
                        appearance: none;
                        background-image: none;
                        border-color: transparent;
                        cursor: text;
                    }
                }
            }
        }

        .admin__field.read-only._required {
            > .admin__field-label {
                span:after {
                    display: none;
                }
            }
        }

        .admin__field-checkbox {
            .admin__field-control {
                line-height: 3.2rem;

                //noinspection CssNoGenericFontName
                input:before {
                    content: '';
                    width: 1.6rem;
                    height: 1.6rem;
                    float: left;
                    background-color: #ffffff;
                    border-radius: 1px;
                    border: 1px solid #adadad;
                    vertical-align: top;
                    text-align: center;
                    font-family: 'Admin Icons';
                    font-size: 0;
                    line-height: 1;
                    font-style: normal;
                    font-weight: normal;
                    color: transparent;
                    transition: font-size 0.1s ease-out, color 0.1s ease-out, border-color 0.1s linear;
                    -webkit-font-smoothing: antialiased;
                    speak: none;
                    cursor: pointer;
                }

                input:checked:before {
                    content: '\e62d';
                    font-size: 1.1rem;
                    line-height: 125%;
                    color: #514943;
                }
            }
        }

        .admin__field-button {
            .admin__field-control {
                line-height: 3.2rem;

                input {
                    margin-left: 1rem;
                }
            }
        }
    }
}
